<div>
  <!-- Modal -->
  <div class="modal left fade" id="sideNavModal" tabindex="-1" role="dialog" aria-labelledby="sideNavModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header" id="sideNavBarCover">
          <a class="closeModel" data-dismiss="modal"  (click)="changeActiveStatus('')" aria-label="Close">
            <span aria-hidden="true" style="font-size: 25px" >&times;</span>
          </a>
        
          <div>
            <div  class="cursorPoniter" id="divWithUserIcon" data-dismiss="modal" (click)="changeActiveStatus('')" >
              <img routerLink="/myprofile" class="userImageIcon cursorPoniter" [src]="userService.userDetails.photoURL">
            </div>
            <div routerLink="/myprofile" class="cursorPoniter" data-dismiss="modal" (click)="changeActiveStatus('')"> 
              {{userService.userDetails.displayName}}
            </div>
          </div>

        
        </div>

        <div class="modal-body container">
         <ul class="list-group">
            <li><a  data-dismiss="modal" id="updates"    class="list-group-item active" routerLink="/updates" (click)="changeActiveStatus('updates')" ><p>New Posts</p></a></li>
            <li><a  data-dismiss="modal" id="profile"  (click)="changeActiveStatus('profile')" ><p>Profile</p></a></li>
            <li><a  data-dismiss="modal" id="navbar"   (click)="changeActiveStatus('navbar')" routerLink="/navbar" ><p>Navbar</p></a></li>
            <li><a  data-dismiss="modal" id="search"   (click)="changeActiveStatus('search')" ><p>Search</p></a></li>
          </ul>
        </div>
      </div>
      <!-- modal-content -->
    </div>
    <!-- modal-dialog -->
  </div>
  <!-- modal -->

</div>

<div class="icon-bar navbar navbar-fixed-bottom hidden-lg hidden-md hidden-sm myShadow" >
    <a ><i class="fa fa-home"  routerLink="/updates"></i></a> 
    <a ><i class="fa fa-search"  routerLink="/search"></i></a> 
    <a ><i class="fa fa-envelope" (click)="openSubPage('messages')"></i></a> 
    <a class="notificationIconForEffect" (click)="openSubPage('notifications')"><i class="fa fa-globe"></i><span *ngIf="allNotifications.length>0" class="badge myBadge">{{allNotifications.length}}</span></a>
    <a data-toggle="modal" (click)="callMe()" data-target="#sideNavModal" ><i class="fa fa-bars"></i></a> 
</div>
