/*  Bottom Icon bar styles Start */

.navbar-header{
    text-align: center;
    /* padding-top:5px; */
 }


.myShadow{
    text-shadow: 2px 2px 15px black;

}

.icon-bar a:hover {
    background-color:rgba(0,0,0,.5);
}


.icon-bar {
    margin-top:5px;
    height: 27px;    
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 0px 0px 0px 0px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
text-decoration: none;
cursor: pointer;
}
  

/*  Bottom Icon bar styles END  */


/* Side NavBar styles Start*/
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:32px !important;
    background-color: rgba(0,0,0,.5);
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    min-width:240px;
    width: 65%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0,0,0,.5);
    /* box-shadow: 2px 1px 1000px gray; */
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
    /* padding-top:100px; */
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    color: white;
    border: none;
}

.modal-header {
    border-bottom-color:rgb(143, 143, 143);;
    /* background-color: black; */
    background-image: radial-gradient(circle, #5f677c, #4b546d, #39435f, #263151, #122143);
    background-size: cover;
    height: 200px;
    width: 100%;
    /* position: fixed; */
    overflow: hidden;
z-index: 1; 
}

.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.btn-demo {
margin: 15px;
padding: 10px 15px;
border-radius: 0;
font-size: 16px;
background-color: #FFFFFF;
}

.btn-demo:focus {
outline: 0;
}

.close{
    color: white;
    text-shadow: none;    
}
.closeModel{
    text-decoration: none;
    color: rgb(192, 192, 192);
    font-weight: bold;
    float: right;
    font-size:20px;     
}

/* Side NavBar styles End*/


.userImageIcon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

li a{
text-decoration: none;
cursor: pointer;    
color: white;
}

li{
    list-style:none;
    padding-bottom: 5px;
}

ul{
    padding-left: 0px;
    margin-left: 0px;
}
.list-group-item:focus{
    background-color:rgba(0,0,0,0);
}

.list-group-item.active{
    z-index: 0;
    background-color:unset;
    border:none;
    font-weight: bold;
}

.cursorPoniter{
    cursor: pointer;
}

#divWithUserIcon{
    margin-top:60px;
}

  .myBadge{
    background-color: rgba(242, 205, 205,0);  
    color:#74f1ff;    
  }