<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <div class="dropdown navbar-fnt navbar-toggle" style="float:right">
        <a class="dropdown-toggle" style="text-decoration: none" data-toggle="dropdown">
          <img class="userImageIcon" src="{{userService.userDetails.photoURL}}">
          <span class="caret" style="color: white;"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <a routerLink="/myprofile">Profile</a>
          </li>
          <li>
            <a href="#">Settings</a>
          </li>
          <li class="divider"></li>
          <li>
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>



      <!-- </button> -->
      <a href="#">
        <span class="navbar-brand"> &nbsp;Photo Stream</span>
      </a>
    </div>

    <div class="collapse navbar-collapse " id="myNavbar">
      <ul class="nav navbar-nav ">
        <li>
          <a href="#">
            <span class="navbar-fnt glyphicon glyphicon-home"></span>
          </a>
        </li>
        <li>
          <a href="#">
          </a>
        </li>
        <li>
          <a href="#">
            <!-- <span class="navbar-fnt"> Page 2</span> -->
          </a>
        </li>
        <li>
          <a href="#">
            <!-- <span class="navbar-fnt"> Page 3</span> -->
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="rightIcons">
          <a href="#">
            <span class="navbar-icon notificationIconForEffect"><i class="fa fa-globe"></i></span>
          </a>
        </li>
        <li class="rightIcons">
          <a href="#">
            <span class="navbar-icon"><i class="fa fa-envelope"></i></span>
          </a>
        </li>

        <li class="dropdown iconPosition dropdown-toggle" style="text-decoration: none" data-toggle="dropdown">
            <img class="userImageIcon" src="{{userService.userDetails.photoURL}}">
            <span class="caret" style="color: white;"></span>
        </li>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a routerLink="/myprofile">Profile</a>
                </li>
                <li>
                  <a href="#"> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a (click)="logout()">Logout</a>
                </li>
              </ul>

        </ul>
          
    </div>
  </div>
</nav>

<app-navbarbottom></app-navbarbottom>

<!-- <a ><i class="fa fa-home"></i></a> 
<a ><i class="fa fa-search"></i></a> 
<a ><i class="fa fa-envelope"></i></a> 
<a ><i class="fa fa-globe"></i></a>
<a data-toggle="modal" (click)="callMe()" data-target="#myModal" ><i class="fa fa-bars"></i></a> -->