/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}

.sidenav {
    height: 94%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0,.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size:18px;
    color: #ffffff;

    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color:rgb(140, 177, 255);
    font-size: 20px;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;} */
.navbar {height:8px !important}



.navbar-fnt{
    color:#ffffff;
/* font-weight: bold; */
}
.navbar-icon{
    color:white;
    font-size: 20px;
}
.navbar-fnt:hover{
    color: white;
font-weight: bold;
}

.navbar-brand{
    color: white;
    font-weight: bold;
    font-family: 'Redressed';
    /* font-size: 22px; */
    
}

.navbar-inverse{
/* background-color: rgb(76, 73, 255); */
background-color: #2C3E50;
border:none;
border-radius: 0px;
}

.navbar-toggle{
    border: none;
    cursor: pointer;
    float: right;
    padding-bottom: 0px;
    padding-top: 0px;
}
.navbar-toggle:hover{
/* background-color:rgb(76, 73, 255); */
background-color: #2C3E50;
}

.navbar-inverse:hover{
    /* background-color: rgb(76, 73, 255); */
    background-color: #2C3E50;    
    border: none;
    /* height: 0px; */
}

.glyphicon {
    color:white;
}

.glyphicon-menu-hamburger:hover{
    font-size: 15px;
}

.userImageIcon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.iconPosition{
    top: 8px;
    left: -11px;
    position: relative;
    /* background-color: rgb(76, 73, 255); */
    background-color: #2C3E50;    
    border: none;
    cursor: pointer;
}
.iconPosition.open{
    background-color: none;   
}

.rightIcons{
margin-right: 10px;
padding-right: 10px;
}
nav{
    box-shadow: 0px 0px 20px 0px black;
}