<nav class="navbar navbar-inverse">
  <div class="container-fluid"> 
            <div class="navbar-header">
                    <div class="dropdown navbar-fnt navbar-toggle" style="float:right">
                        <a  class="dropdown-toggle" style="text-decoration: none" data-toggle="dropdown"> 
                          <i class="fa fa-bars" style="font-size:24px;color:white;"></i>                      
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li><a routerLink="/home"><span class="glyphicon glyphicon-user"   ></span>  Sign Up</a></li>
                          <li><a routerLink="/home"><span class="glyphicon glyphicon-log-in" ></span>   Login  </a></li>
                        </ul>
                      </div>

                  <a href="#"><span class="navbar-brand"> &nbsp;Photo Stream</span></a>               
            </div>

              <div class="collapse navbar-collapse " id="myNavbar">
              <ul class="nav navbar-nav ">
              <li><a href="#" > <span class="navbar-fnt glyphicon glyphicon-home"></span></a></li>
              <li><a href="#" > <span class="navbar-fnt"> Home</span></a></li>
              <li><a href="#" > <span class="navbar-fnt"> About</span></a></li> 
              <li><a href="#" > <span class="navbar-fnt"> Why we are</span></a></li> 
              </ul>

              <ul class="nav navbar-nav navbar-right ">
                <li><a routerLink="/home"><span class="glyphicon glyphicon-user"    ></span>  <span class="navbar-fnt">  Sign Up </span></a></li>
                <li><a routerLink="/home"><span class="glyphicon glyphicon-log-in" ></span>   <span class="navbar-fnt">  Login   </span></a></li>
              </ul>
            </div>
  </div>
</nav>

