/* You can add global styles to this file, and also import other style files */
body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
}



#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* .navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;} */
.navbar {height:8px !important}



.navbar-fnt{
    color:#ffffff;
/* font-weight: bold; */
}

.navbar-fnt:hover{
    color: white;
font-weight: bold;
}

.navbar-brand{
    color: white;
    font-weight: bold;
    font-family: 'Redressed';
    /* font-size: 22px; */
    
}

.navbar-inverse{
/* background-color: rgb(76, 73, 255); */
background-color: #2C3E50;
border:none;
border-radius: 0px;
}

.navbar-toggle{
    border: none;
    cursor: pointer;
    float: right;
    padding-bottom: 0px;
    padding-top: 0px;
}
.navbar-toggle:hover{
/* background-color:rgb(76, 73, 255); */
background-color: #2C3E50;

}

.navbar-inverse:hover{
    /* background-color: rgb(76, 73, 255); */
    background-color: #2C3E50;
    border: none;
    /* height: 0px; */
}

.glyphicon-menu-hamburger:hover{
    font-size: 15px;
}

.userImageIcon{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.dropdown-menu{
    color:black;
}

nav{
    box-shadow: 0px 0px 20px 0px black;
}