<div class="well container-fluid">
    
        <div class="postAreaDiv">
                <textarea class=" form-control postArea myBoxShadow postFont" maxlength="2000" (keyup)="typing($event)"  [(ngModel)]="post.content" placeholder="Post what you feel ...! 😊"></textarea>
                <div class="addOnDiv">
                    <span title="Add files" class="eachPostAddon myTextShadow glyphicon glyphicon-paperclip" (click)="openFileSelection()"></span>
                    <span title="Add location" class="eachPostAddon myTextShadow glyphicon glyphicon-map-marker"></span>
                    <span title="Tag people" class="eachPostAddon myTextShadow glyphicon glyphicon-tag"></span>
                    <span class="dropdown eachPostAddon">
        
                        <span title="Privacy" class="myTextShadow dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span style="font-size: 10px; font-weight:bold;position: relative;top:-3px;">{{post.privacy.type}}</span> 
                        </span>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><a *ngFor="let privacy of privacyTypeList" (click)="setPrivacyType(privacy)">{{privacy}}</a></li>
                            </ul>
                    </span>


                </div>
        </div>
    <!-- List of all selected files below -->
    <div>

        <div *ngFor="let  downloadSrc of localURL;index as i" class="uploads col-lg-2 col-md-2 col-sm-3 col-xs-4 uploads">
            <div *ngIf="downloadSrc && (imageType.indexOf(selectedImages[i].type)>-1)" class="imgesDiv" role="alert">
                        <img [src]="downloadSrc | safeImage" class="imageThumbnail">
                </div>
                <div *ngIf="downloadSrc &&  (videoType.indexOf(selectedImages[i].type)>-1)" class="imgesDiv" role="alert">
                    <!-- <img [src]="downloadSrc | safeImage" class="imageThumbnail"> -->

                    <video style="width:100%" controls class="imageThumbnail">
                        <source [src]="downloadSrc | safeImage" type="video/mp4">
                        <source [src]="downloadSrc | safeImage" type="video/ogg">
                        Your browser does not support the video tag.
                      </video>
                </div>
                        <div class="progress-bar progress-bar-striped active uploadProgress" *ngIf="checkProgress((uploadProgress[i])+'') && uploadProgress[i]!=100" role="progressbar" 
                                [style.width]="(uploadProgress[i]) + '%'" [attr.aria-valuenow]="(uploadProgress[i])" aria-valuemin="0" aria-valuemax="100" >
                        </div>
                        <span style="position:absolute" *ngIf="uploadProgress[i]==100" >uploaded <span style="color:green" class="glyphicon glyphicon-ok-circle"></span> </span>
                        <span style="position:absolute;color:brown" *ngIf="(imageType.indexOf(selectedImages[i].type)<0) && (videoType.indexOf(selectedImages[i].type)<0)" >Invalid Format </span>                        
        </div>

    </div>  
 <div *ngIf="canShowValidation" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
<span class="errorMsg">{{validationMsg}} </span> 
</div> 
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:6px;">

      <div >
          <input style="display:none" type="file" accept="image/png, image/jpeg, video/mp4" class="form-control" #fileUpload id="fileUploadInput" (change)="getFileDetails($event)" multiple>
          <!-- <button type="button" class="btn btn-primary" (click)="openFileSelection()"> upload</button> -->
          <!-- <button (click)="uploadFile(0)" [disabled]="invalidUploads || submitted || selectedImages==undefined || selectedImages==null || selectedImages.length<=0" class="btn btn-primary btn-sm"> save </button> -->
          <button class="btn btn-sm appTheme myBoxShadow" [disabled]="(invalidUploads || submitted || selectedImages==undefined || selectedImages==null || selectedImages.length<=0)&&(post.content.trim().length<=0)" (click)="uploadFile(0)">Post <span class="glyphicon glyphicon-send"></span></button>
        </div>

  </div>
</div>
