.imageThumbnail{
    /* max-height:320px;
    max-width:320px; */
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    height: 100px;
    object-fit: cover;
    background-image: radial-gradient(circle, #5f677c, #4b546d, #39435f, #263151, #122143);
    
    }
    .imageThumbnailAutoHeight{
        height:auto !important;
    }
    
    .uploads{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom:37px;
    }
    
    @media (min-width: 1200px){
    .imageThumbnail{
        height: 150px;
    }
    }
    @media (max-width: 414px)
    {
        .imageThumbnail{
            height: 75px;
        }        
    }
    .imgesDiv
    {
        /* width:320px;
        height: 320px; */
        box-shadow: 2px 2px 10px gray;
        overflow: hidden;    
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        padding-top: 5px;  
        margin-bottom:6px;
    }

    .uploadProgress{
        margin-top:0px;
        margin-bottom:0px;
        height:5px;        
        position: absolute;
    }
.errorMsg{
    font-size: 10px;
    color: #2c3e50;
    font-weight: bold;
}
.postArea{
    min-width:100%;
    width: 100%;
    max-width: 100%;
    min-height:70px;
    max-height:200px; 
}
.eachPostAddon{
    width:6%;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.addOnDiv{
    width:100%;
    margin-top:10px;
    margin-bottom: 8px;
}