<!-- <div class="container well">
<div class="myContainer">
        <span class="col-lg-3 col-md-3 col-sm-3 col-xs-0"></span>
        <div id="profilePic"  >
            <img class="userImageIcon" src="assets/user.png">
        </div>
        <div id="bio" >
        <h5>Sudheer Mende</h5>
       
    </div>
</div>
</div> -->
<!-- style="background-image: url({{cover}})" -->
<div id="bio" class="container-fluid well">

  <div id="profilePic" class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >
      <img  class="userImageIcon"   [src]="userService.userDetails.photoURL" data-toggle="modal" data-target="#imageModal" (click)="openedImageUrl=userService.userDetails.photoURL">     
      <br>      <br>      
      <span id="bioDetails2"> {{userService.userDetails.displayName}} </span> 
  </div>
  <br>
  <!-- fa fa-refresh fa-spin -->
  <!-- <div id="bioDetails" >
    <h3> {{userService.userDetails.displayName}} </h3>
    
    <ul style="list-style:none">
      <b>Devices</b>
        <li>Canon 5D  <i class="material-icons">linked_camera</i></li>
        <li>Nikon D70 <i class="material-icons">linked_camera</i></li>
        <li>Canon 80D <i class="material-icons">linked_camera</i></li>
      </ul>
  </div> -->

  <br>

</div>

<div>
  <app-image-upload></app-image-upload>
</div>

<div id="secondDiv" class="container well">
    <ul class="nav nav-tabs">
        <li class="active col-sm-3 col-xs-3 option-tab"><a data-toggle="tab" class="option-link" href="#myStream">My Stream</a></li>        
        <li class="col-sm-3 col-xs-3 option-tab"><a data-toggle="tab" class="option-link" href="#photos">Photos</a></li>
        <li class="col-sm-3 col-xs-3 option-tab"><a data-toggle="tab" class="option-link" href="#videos">Videos</a></li>
        <li class="col-sm-3 col-xs-3 option-tab"><a data-toggle="tab" class="option-link" href="#connections">Connections</a></li>
        <!-- <li><a data-toggle="tab" href="#menu2">Others</a></li> -->
      </ul>
      
      <div class="tab-content">
        
        <div id="myStream" class="tab-pane fade in active">
            <div *ngFor="let myPost of allMyPosts">
                <app-post [post]="myPost"></app-post>
            </div>
        </div>
        
        
        <div id="photos" class="tab-pane fade">
          <!-- <h5>Photos</h5>       -->
          <div>
            
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 uploads" *ngFor="let photo of user.images;index as i" >
                <div class="imgesDiv">
                  <img class="imageThumbnail" [src]="photo.url"  data-toggle="modal" data-target="#imageModal" (click)="openedImageUrl=photo.url">
                </div>
                <div class="extraMenu" (click)="toggleExtraOptionsMenu(i,'images')">
                  <div class="photoExtraOptions" id="optionMenu_images_{{i}}">
                    <span class="optionIcon glyphicon glyphicon-option-horizontal"></span>
                  </div>
                  
                  <div id="extraMenu_images_{{i}}" class="allMenuDivs" style="display:none">
                    <div class="photoExtraOptions basicMenuDiv setCoverDiv"  data-toggle="tooltip" title="Set as cover">
                        <span class="setCoverLabel glyphicon glyphicon-tint" (click)="setCover(photo.url)" style="display:block"></span>
                    </div>

                    <div class="photoExtraOptions basicMenuDiv editDiv" (click)="edit(photo.dbId,'images')" data-toggle="tooltip" title="Edit">
                        <span class="editLabel glyphicon glyphicon-pencil"  style="display:block"></span>
                    </div>

                    <div class="photoExtraOptions basicMenuDiv deleteDiv" (click)="deleteFile(photo.path,photo.dbId,'images')" data-toggle="tooltip" title="Delete">
                        <span class="deleteLabel glyphicon glyphicon-trash" style="display:block"></span>
                    </div>
                  </div>

              </div>                 

            </div>
          </div>
        </div>
    

        <div id="videos" class="tab-pane fade">
          <div>
            
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 uploads" *ngFor="let video of user.videos;index as i" >
                <div class="imgesDiv">

                  <video style="width:100%" controls class="imageThumbnail">
                    <source [src]="video.url" type="video/mp4">
                    <source [src]="video.url" type="video/ogg">
                    Your browser does not support the video tag.
                  </video>

                </div>
                <div class="extraMenu" (click)="toggleExtraOptionsMenu(i,'videos')">
                  <div class="photoExtraOptions" id="optionMenu_videos_{{i}}">
                    <span class="optionIcon glyphicon glyphicon-option-horizontal"></span>
                  </div>
                  
                  <div id="extraMenu_videos_{{i}}" class="allMenuDivs" style="display:none">
                    <!-- <div class="photoExtraOptions basicMenuDiv setCoverDiv"  data-toggle="tooltip" title="Set as cover">
                        <span class="setCoverLabel glyphicon glyphicon-tint" (click)="setCover(video.url)" style="display:block"></span>
                    </div> -->

                    <div class="photoExtraOptions basicMenuDiv editDiv" (click)="edit(video.dbId,'videos')" data-toggle="tooltip" title="Edit">
                        <span class="editLabel glyphicon glyphicon-pencil"  style="display:block"></span>
                    </div>

                    <div class="photoExtraOptions basicMenuDiv deleteDiv" (click)="deleteFile(video.path,video.dbId,'videos')" data-toggle="tooltip" title="Delete">
                        <span class="deleteLabel glyphicon glyphicon-trash" style="display:block"></span>
                    </div>
                  </div>

              </div>                 

            </div>
          </div>
        </div>


        <div id="connections" class="tab-pane fade">
          <!-- <h5>Connections</h5> -->
            <!-- For Large Screen View -->
          <div class="col-lg-4 col-md-4 col-sm-6 hidden-xs" *ngFor="let friend of user.connections">
              
            <div class="friendBio">

                <div class="friendProfilePic " >
                    <img class="friendsImageIcon" [src]="getProfilePicUrl(friend.pic)"  data-toggle="modal" data-target="#imageModal" (click)="openedImageUrl=getProfilePicUrl(friend.pic)">      
                </div>
              
                <div class="friendDetails">
                  <h4> {{friend.displayName}} </h4>
                  <b>Device</b>
                    <ul style="list-style:none">
                      <li>{{friend.devices[0]}}<i class="material-icons">linked_camera</i></li>
                    </ul>
                </div>

            </div>
            
          </div>
          <!-- For Xtra Small Screen View Only  -->
          <div class=" hidden-lg  hidden-md  hidden-sm" *ngFor="let friend of user.connections">
            <div class="container well smallFriendBio">
              <div class="smallFriendProfilePic">
                <img class="smallFriendsImageIcon" [src]="getProfilePicUrl(friend.pic)" data-toggle="modal" data-target="#imageModal" (click)="openedImageUrl=getProfilePicUrl(friend.pic)">                
              </div>
              <div class="smallFriendDetails">
                <b> {{friend.displayName}} </b>
                <ul style="list-style:none">
                    <li>{{friend.devices[0]}}<i class="material-icons">linked_camera</i></li>
                  </ul>
              </div>
            </div>
          </div>
        </div>

        
        <!-- <div id="menu2" class="tab-pane fade">
          <h3>Menu 2</h3>
          <p>Some content in menu 2.</p>
        </div> -->
      </div>
    </div>

    <div id="imageModal" class="modal fade container modal-header" role="dialog">
          <!-- Modal content-->
              <a style="text-decoration: none;color:white" data-dismiss="modal">&times;</a>
                <img class="modalImage" *ngIf="openedImageUrl" [src]="openedImageUrl">  
      </div>