.tab-pane{
    margin-top: 20px;
}
.userImageIcon{
    width: 40%;
    max-width: 300px;
    -webkit-box-shadow:6px 3px 20px 0px #252525;
    box-shadow: 6px 3px 20px 0px #252525;
    border: 3px solid #ffffff;
}
#profilePic{
    position: relative;
    top: -68px;
    left:0px;  
}
.container{
    box-shadow: 3px 3px 20px gray;
}
#bio{
position: relative;
margin-top:70px;
background-image: radial-gradient(circle, #5f677c, #4b546d, #39435f, #263151, #122143);
background-size: cover;
box-shadow: 0px 0px 12px 4px #b3b1b1;
}

#bioDetails{
    background-color: white;
    color:black;
}

#bioDetails2{
    color: white;
    text-shadow: 1px 1px 12px black;
    font-size: 25px;
    font-weight: bolder;
}

.material-icons{
    color:#4286f4;
    font-size: 15px;
}

#secondDiv{
    padding-top: 10px;
    background-color: white;
}

.imageThumbnail{
/* max-height:320px;
max-width:320px; */
display: block;
margin-left: auto;
margin-right: auto; 
width: 100%;
height: 170px;
object-fit: cover;
background-image: radial-gradient(circle, #5f677c, #4b546d, #39435f, #263151, #122143);

}
.imageThumbnailAutoHeight{
    height:auto !important;
}

.uploads{
    padding-left: 5px;
    padding-right: 5px;
}

@media (min-width: 1200px){
.imageThumbnail{
    height: 250px;
}
}
@media (max-width: 736px)
{
    .imageThumbnail{
        height: 135px;
    }        
}
.imgesDiv
{
    /* width:320px;
    height: 320px; */
    box-shadow: 2px 2px 10px gray;
    overflow: hidden;    
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;  
    margin-bottom: 20px;
}

.friendsImageIcon{
    border-radius: 50%;
    width:30%; 
    height:100px;
    max-width:200px;
    box-shadow: 4px 0px 9px 0px grey;
    object-fit: cover;
    background-image: radial-gradient(circle, #5f677c, #4b546d, #39435f, #263151, #122143);
}
.friendProfilePic{
    position: relative;
    top: -30px;
    left:50px;  
}

.friendBio{
    
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    margin-top:70px;
    /* max-height:300px; 
    max-width: 300px; */
    background-color: white;
    color:black;
    box-shadow: 3px 3px 20px 2px grey;

}
.friendDetails{
    padding-left:5px;    
}

.smallFriendBio{
    margin-top: 15px;
    background-color: white;
    width: 90%;
    left: 18px;
    position: relative;
    box-shadow: 2px 2px 10px grey;
    /* 3px 0px 20px 0px; */
    
    height: 70px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    margin-bottom: 0px;

}
.smallFriendProfilePic{
    position: relative;
    top: 0px;
    left: -58px;
}
.smallFriendsImageIcon{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 3px 0px 20px 0px;
}
.smallFriendDetails{
    position: relative;
    top: -63px;
    left: 27px;
}
#imageModal{
    color:white;
    margin-top:30px;
    background-color:rgba(1,1,1,1);
    width:90%;
    height:90%;
    max-width: 600px;
    box-shadow: 0px 0px 0px 0px;
}
.modalImage{
    width: 100%;
    height: auto;   
} 
img{
    cursor: pointer;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    /* background-color: #4c49ff; */
    background-color: #2C3E50;    
    cursor: pointer;
}

.extraMenu{
    position: absolute;
    height:100px;
    top: 5%;
    left: 7%;

}
.photoExtraOptions{
    border-radius: 50%;
    font-size: 18px;
    color: #8a8888;
    background-color: white;
    width: 25px;
    height: 25px;
    box-shadow: 3px 2px 6px 0px #000000;
    opacity:0.7;
    cursor: pointer;    
}
.photoExtraOptions:hover{
    opacity: 1;
    width: 30px;
    height: 30px;
    font-size: 20px;    
}
.optionIcon{
    top:4px;
    left:2px;
}

.basicMenuDiv{
    margin-top: 6px;
    opacity: 1;
    cursor: pointer;    
}
.setCoverLabel{
    color: #2d079e;
    top: 4px;
    text-align: center;
}

.deleteDiv{
    background-color: #ad1e1e
}
.deleteLabel{
    top: 8px;
    color: white;
    font-size: 11px;
    text-align: center;
}
.editDiv{
    background-color: green;
}
.editLabel{
    top: 8px;
    color: white;
    font-size: 11px;
    position: relative;
    text-align: center;
}
.option-tab{
    text-align: center;
    padding-right:0px;
    padding-left: 0px;
}
.option-link{
    padding-right:0px;
    padding-left: 0px;
}