<app-navbar *ngIf="this.userService.isUserLogin()"></app-navbar>
<app-basic-nav-bar *ngIf="!this.userService.isUserLogin()"></app-basic-nav-bar> 
<router-outlet></router-outlet>

<!-- <div class="container well col-xs-12 col-sm-3 col-md-3 col-lg-3  notificationModal" *ngIf="this.notificationService.showNotification && this.userService.isUserLogin()">     -->
 <div class="container well col-xs-12 col-sm-3 col-md-3 col-lg-3  notificationModal" *ngIf="false">
    <div> Notification 
        <div style="float:right" (click)="closeNotif()">X</div>        
    </div>
        <div>Some thing new was added in Users List</div>
</div>
