.notificationModal{
    position: fixed;
    top:20px;
    /* margin-left: 1024px; */
    /* left:54px; */
    /* max-width:300px; */
    color: white;
    background-color: rgba(59, 63, 71,.7);
    box-shadow: 4px 4px 20px 0px #a4aab9;
}
.brand{
    color: white;
    font-weight: bold;
    font-family: 'Redressed';
}