<div id="post_{{post.dbId}}" class="one-post container well col-lg-12 col-md-12 col-sm-12 col-xs-12 post-shadow" >
    <div class="header-post myBoxShadow" >
        <div class="userImageLogoDiv-post">
                <img [src]="post.ownerDetails.photoUrl" class="userImageLogo-post">
        </div>
        <div class="userName-post">
            {{post.ownerDetails.displayName}}                       
        </div>
        <div class="timeStamp-post">
            <span class="glyphicon glyphicon-time"></span><span style="padding-left:5px">{{post.postedOn}}</span>                                               
        </div>
    </div>
    <div class="body-post">
        <div class="content-post" *ngIf="setHeightByRows(post.dbId,post.content)">
           <textarea class="contentArea-post postFont" maxlength="2000"  id="postContent_{{post.dbId}}" style="resize:none;" readonly>{{post.content}}</textarea>
        </div>
        
        <div class="all-attachments-post" >
            <!-- {{post.attachments.length}} -->
            <div *ngFor="let file of post.attachments">
                <div *ngIf="file.contentType=='images'" class="one-attchment-post post-shadow col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <img [src]="file.fileUrl" style="padding-left: 0px;padding-right: 0px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
                <div *ngIf="file.contentType=='videos'" class="one-attchment-post post-shadow col-lg-5 col-md-5 col-sm-12 col-xs-12">
                        <video style="width:100%;padding-left: 0px;padding-right: 0px;" controls class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <source [src]="file.fileUrl" type="video/mp4">
                                <source [src]="file.fileUrl" type="video/ogg">
                                Your browser does not support the video tag.
                        </video>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-post">
        <div class="likesInfo-post" >
            <span  style="margin-right:10px;" data-toggle="modal" *ngIf="post.likesList!=undefined && post.likesList.length>0" data-target="#likesModal" (click)="toggleShowAllLikes()">{{post.likesList.length}} <i class="fa fa-thumbs-up" style="color:#157b7a"></i></span>           
            <span  style="margin-right:10px;" data-toggle="modal" *ngIf="post.commentsList!=undefined && post.commentsList.length>0" (click)="toggleShowAllComments()">{{post.commentsList.length}} <span class="glyphicon glyphicon-comment" style="color:#157b7a"></span></span>
        </div>
        
        <div class="likeList" id="likeslist_{{post.dbId}}" *ngIf="canShowAllLikes && post.likesList!=undefined && post.likesList.length>0" style="margin-bottom:10px;">
                      <span class="postFont" style="font-size: 12px;">People who liked your post..</span>
                      <button type="button" class="close" (click)="toggleShowAllLikes()">&times;</button>
                    <div class="oneLikeRecord" *ngFor="let like of post.likesList"> 
                           <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
                               <img class="likesListUserImage myBoxShadow" [src]="like.ownerDetails.photoUrl"> 
                           </div>
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-9">
                                <p class="likesInfo-post" style="margin-bottom: 0px">{{like.ownerDetails.displayName}}</p>
                                <span class="glyphicon glyphicon-time"><span class="likeTime">{{like.timeStamp}}</span></span>
                            </div>                                
                    </div>
        </div>
               
        <span *ngIf="post.commentsList != undefined && post.commentsList.length>1 && !canShowAllComments" style="margin-top:5px;" (click)="toggleShowAllComments()">view other {{post.commentsList.length-1}} comment(s)..</span>
        <div class="commentsInfo_post" *ngIf="post.commentsList != undefined && post.commentsList.length>0">
                <div *ngIf="canShowAllComments"> 
                    <div class="oneComment" *ngFor="let comment of post.commentsList">
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                            <img class="commentListUserImage myBoxShadow" [src]="comment.ownerDetails.photoUrl"> 
                        </div>
                        <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                            <p class="likesInfo-post" style="margin-bottom: 0px">{{comment.ownerDetails.displayName}}</p>
                            <span>{{comment.comment}} </span> <br>
                            <span class="glyphicon glyphicon-time"><span class="likeTime">{{comment.timeStamp}}</span></span>                 
                        </div>  
                    </div>
                </div>
                <div class="oneComment" *ngIf="!canShowAllComments">
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
                        <img class="commentListUserImage myBoxShadow" [src]="post.commentsList[post.commentsList.length-1].ownerDetails.photoUrl"> 
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-10 col-xs-10">
                        <p class="likesInfo-post" style="margin-bottom: 0px">{{post.commentsList[post.commentsList.length-1].ownerDetails.displayName}}</p>
                        <span>{{post.commentsList[post.commentsList.length-1].comment}} </span> <br>
                        <span class="glyphicon glyphicon-time"><span class="likeTime">{{post.commentsList[post.commentsList.length-1].timeStamp}}</span></span>                 
                    </div>  
                </div>

        </div>


        <div class="new-comment-post col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <textarea style="resize:none" class="commentArea-post postFont" id="commentTextAreaId_{{post.dbId}}" placeholder="add your comment..." rows=1 [(ngModel)]="newComment"></textarea>
        </div>

        <div class="like-post col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="newComment.trim().length>0">
                <i class="glyphicon glyphicon-send" aria-hidden="true" style="color:#157b7a" (click)="addComment()"></i>
        </div>

        <div class="like-post col-lg-2 col-md-2 col-sm-2 col-xs-2" *ngIf="newComment.trim().length<=0">
            <i class="fa fa-thumbs-o-up" aria-hidden="true" *ngIf="!like" (click)="likeToggle(true)"></i>
            <i class="fa fa-thumbs-up" aria-hidden="true" *ngIf="like" style="color:#157b7a" (click)="likeToggle(false)"></i>
        </div>

    </div>

</div>
