
.one-post{  
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: white;
  } 
  .header-post{
    margin-left: -20px;
    margin-right: -20px;
    background-color: #2c3e50;
    margin-top: -6px;
    height: 39px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
  }
  .userName-post{
    position: relative;
    top: 3px;
    font-weight: bold;
    font-size: 13px;
    margin-left: 58px;
  }
  
  .timeStamp-post{
    position: relative;
    font-size: 11px;
    top: 3px;
    margin-left: 58px;
  }
  
  .body-post{
    padding: 10px;
  }
  textarea:disabled{
    background-color: white;
  }
  
  .userImageLogo-post{
    height: 28px;
    width: 28px;
    border-radius: 50%;
  }
  
  .userImageLogoDiv-post{
    float: left;
    position: relative;
    top: 6px;
    left: 15px;
  }
  
  .contentArea-post{
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    border: none;
  }

.footer-post{
    margin-top:-10px;
    clear: both;
}

.likesInfo-post{
    margin-bottom: 10px;
    color: #0152a2;
    font-weight: bold;
    cursor: pointer;
}

.new-comment-post{
  padding-left: 0px;
  padding-right: 0px;
  margin-top:12px;
}
.commentArea-post{
    border: 1px solid lightblue;
    width: 100%;
    border-radius: 10px;
}
.like-post{
    font-size: x-large;
    text-align: center;
    top:-2px;
    margin-top:12px;
}
.one-attchment-post{
  margin-top: 5px;
  margin-bottom: 18px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 10px;
}
.post-shadow{
  box-shadow: 6px 8px 20px 0px #b2aeae;
}
.likesListUserImage{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  box-shadow: 3px 0px 20px 0px #aea8a8;
}
.oneLikeRecord{
  height:53px;
  padding-top:8px
}
.likeTime{
  padding-left: 5px;
  top: -3px;
  position: relative;
  font-family: initial;
  font-size: 13px;
}
.commentsInfo_post{
  margin-left:-17px;
  margin-top:5px;
}
.commentListUserImage{
  height: 25px;
  width:25px;
  border-radius: 50%;
}