<!-- <div class="container well">

        <input class="form-control" (keyup)="searchUsers()" [(ngModel)]="searchName">
        <button (click)="searchUsers()">Search</button>
        

<div *ngFor="let user of users">
    <P>{{user!=undefined ? user.name : ""}}</P>
</div>

<input type="name" class="form-control" [(ngModel)]="newName">
<button class="btn btn-primary brn-sm" (click)="saveData()"> save </button>
</div> -->


<div>
    <h3>Hi {{userService.userDetails.displayName}}! </h3>
    <h4>Welcome to <span class="brand"> &nbsp;Photo Stream</span>.</h4>
    <span style="font-size: 12px">* development is running ...</span>    
</div>


<app-image-upload></app-image-upload> 

<div class="container-fluid well" id="newsFeedMainDiv">
    <div *ngFor="let post of allPosts">
        <app-post [post]="post"></app-post>
    </div>
</div>
