.well{
    background-color: white;
}

img{
    width: 100%;
    /* max-width: 600px; */
}

.myShadow{
    box-shadow: 2px 2px 20px black;

}

.show-image-div{
    max-width: 630px;
    margin: auto;
margin-bottom: 30px;
}

#infoPost{
    float:left;
}
#imagePost{
    float:right;
}