body{
    min-width: 300px;
    /* background-image: radial-gradient(circle, #5f677c, #4b546d, #39435f, #263151, #122143); */
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #195d8a;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  
  margin-top: 200px;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .myblue, .myblue:hover{
    background-color:#1b8f9e;
    border-color:#1b8f9e;        
    color:white !important;
  }


  .mygreen{
    background-color: #088857;
    /* #317d67 */
    border-color: #088857;    
    color:white !important;   
  }

  .redressedFont{
    font-family:'Redressed';    
  }
  .brand{
    font-weight: bold;
    font-family: 'Redressed';
}
.appTheme{
  background-color: #157b7a;
  color: white !important;
}

.myBoxShadow{
  box-shadow:-2px 3px 15px 0px #adaaaa;
}
.myTextShadow{
  text-shadow: 1px 2px 20px #62696f;
}
.postFont{
  font-family: 'Rancho';
  font-size: 18px;
  letter-spacing: 1px;
  color:black;
}
