<div class="container well loginBox">

  <form id="loginForm" #myForm="ngForm" (submit)="submitForm(myForm)" novalidate>
    <div class="form-group">
      <label> User id </label>
      <input type="text" name="userId" class="form-control" [(ngModel)]="userId" placeholder="userid" required>
    </div>

    <div class="form-group">
      <label> password </label>
      <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="password" required>
    </div>
    <div class="form-inline">
      <button type="submit" class="btn myblue" [disabled]="myForm.invalid"> Login</button>
    </div>
  <br>
  <p style="text-align: center"> OR </p>
      <div class="form-group" *ngIf="!this.userService.isUserLogin()">
        <button type="button" class="btn mygreen form-control" (click)="loginWithGoogle()" > Login with Google </button>
      </div>
      <div class="form-group" *ngIf="this.userService.isUserLogin()">
          <button type="button" routerLink="/updates" class="btn mygreen form-control" > Continue as {{userService.userDetails.displayName}}</button>
      </div>
        

  </form>

</div>